body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    font-weight: 400;
}

h2{
    font-size: 40px;
}

.color-highlight{
    color: #eb4b7a;
    font-weight: bold;
}

.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    
    width:100%;
    height:700px;
}

.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    
}

section{
    height:700px;
    padding: 5%;
}

.link_button{
    text-decoration: none;
    background-color:#eb4b7a;
    padding:10px 20px;
    color:white;
    border-radius: 5px;
    font-weight: 700;
}


h4{
    font-weight: 300;
}

.testimonial p{
    margin:4%;
}



.big-button-bg{
    position: relative;
    left: 40%;
    width:20%;
    text-decoration: none;
    background-color:#eb4b7a;
    padding:10px 20px;
    color:white;
    border-radius: 5px;
    font-weight: 700;
}



.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}


.my-latest-work{
    background-image: url("images/latest-work-bg.png");
    text-align: center;
}

.my-latest-work img{
    width:24%; 
    padding:3%;
    height: 400px;
    
}

.text-center{
    
}

.pad-top{
    padding-top: 8%;
}

.testimonial{
    text-align:center;
    background-image: url("images/footer-bg.png");
}

footer{
    text-align: center;
    font-size: 12px;
}